<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ballot.Name %>
</p>

<p>
  <strong>Score:</strong>
  <%= @ballot.Score %>
</p>

<p>
  <strong>Best picture:</strong>
  <%= @ballot.Best_Picture %>
</p>

<p>
  <strong>Actor leading:</strong>
  <%= @ballot.Actor_Leading %>
</p>

<p>
  <strong>Actress leading:</strong>
  <%= @ballot.Actress_Leading %>
</p>

<p>
  <strong>Actor supporting:</strong>
  <%= @ballot.Actor_Supporting %>
</p>

<p>
  <strong>Actress supporting:</strong>
  <%= @ballot.Actress_Supporting %>
</p>

<p>
  <strong>Animated film:</strong>
  <%= @ballot.Animated_Film %>
</p>

<p>
  <strong>Cinematography:</strong>
  <%= @ballot.Cinematography %>
</p>

<p>
  <strong>Costume design:</strong>
  <%= @ballot.Costume_Design %>
</p>

<p>
  <strong>Director:</strong>
  <%= @ballot.Director %>
</p>

<p>
  <strong>Documentary:</strong>
  <%= @ballot.Documentary %>
</p>

<p>
  <strong>Documentary short:</strong>
  <%= @ballot.Documentary_Short %>
</p>

<p>
  <strong>Film editing:</strong>
  <%= @ballot.Film_Editing %>
</p>

<p>
  <strong>Foreign film:</strong>
  <%= @ballot.Foreign_Film %>
</p>

<p>
  <strong>Makeup hair:</strong>
  <%= @ballot.Makeup_Hair %>
</p>

<p>
  <strong>Original score:</strong>
  <%= @ballot.Original_Score %>
</p>

<p>
  <strong>Original song:</strong>
  <%= @ballot.Original_Song %>
</p>

<p>
  <strong>Production design:</strong>
  <%= @ballot.Production_Design %>
</p>

<p>
  <strong>Animated short film:</strong>
  <%= @ballot.Animated_Short_Film %>
</p>

<p>
  <strong>Short film:</strong>
  <%= @ballot.Short_Film %>
</p>

<p>
  <strong>Sound editing:</strong>
  <%= @ballot.Sound_Editing %>
</p>

<p>
  <strong>Sound mixing:</strong>
  <%= @ballot.Sound_Mixing %>
</p>

<p>
  <strong>Visual effects:</strong>
  <%= @ballot.Visual_Effects %>
</p>

<p>
  <strong>Adapted screenplay:</strong>
  <%= @ballot.Adapted_Screenplay %>
</p>

<p>
  <strong>Original screenplay:</strong>
  <%= @ballot.Original_Screenplay %>
</p>

<%= link_to 'Edit', edit_ballot_path(@ballot) %> |
<%= link_to 'Back', ballots_path %>
