<p id="notice"><%= notice %></p>

<h1>Entries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Best motion picture drama</th>
      <th>Best actress in a motion picture drama</th>
      <th>Best actor in a motion picture drama</th>
      <th>Best motion picture musical or comedy</th>
      <th>Best actress in a motion picture musical or comedy</th>
      <th>Best actor in a motion picture musical or comedy</th>
      <th>Best actress in a supporting role in any motion picture</th>
      <th>Best actor in a supporting role in any motion picture</th>
      <th>Best motion picture animated</th>
      <th>Best motion picture foreign language</th>
      <th>Best director motion picture</th>
      <th>Best screenplay motion picture</th>
      <th>Best original score motion picture</th>
      <th>Best original song motion picture</th>
      <th>Best television series drama</th>
      <th>Best performance by an actress in a television series drama</th>
      <th>Best performance by an actor in a television series drama</th>
      <th>Best television series musical or comedy</th>
      <th>Actress in a television series musical or comedy</th>
      <th>Actor in a television series musical or comedy</th>
      <th>Tv limited series or motion picture made for tv</th>
      <th>Actress in a series or motion picture made for tv</th>
      <th>Actor in a series or motion picture made for tv</th>
      <th>Actress supporting role tv seriesormadefortvfilm</th>
      <th>Actor supporting role tv seriesormadefortvfilm</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.Name %></td>
        <td><%= entry.Best_Motion_Picture_Drama %></td>
        <td><%= entry.Best_Actress_in_a_Motion_Picture_Drama %></td>
        <td><%= entry.Best_Actor_in_a_Motion_Picture_Drama %></td>
        <td><%= entry.Best_Motion_Picture_Musical_or_Comedy %></td>
        <td><%= entry.Best_Actress_in_a_Motion_Picture_Musical_or_Comedy %></td>
        <td><%= entry.Best_Actor_in_a_Motion_Picture_Musical_or_Comedy %></td>
        <td><%= entry.Best_Actress_in_a_Supporting_Role_in_any_Motion_Picture %></td>
        <td><%= entry.Best_Actor_in_a_Supporting_Role_in_any_Motion_Picture %></td>
        <td><%= entry.Best_Motion_Picture_Animated %></td>
        <td><%= entry.Best_Motion_Picture_Foreign_Language %></td>
        <td><%= entry.Best_Director_Motion_Picture %></td>
        <td><%= entry.Best_Screenplay_Motion_Picture %></td>
        <td><%= entry.Best_Original_Score_Motion_Picture %></td>
        <td><%= entry.Best_Original_Song_Motion_Picture %></td>
        <td><%= entry.Best_Television_Series_Drama %></td>
        <td><%= entry.Best_Performance_by_an_Actress_in_a_Television_Series_Drama %></td>
        <td><%= entry.Best_Performance_by_an_Actor_in_a_Television_Series_Drama %></td>
        <td><%= entry.Best_Television_Series_Musical_or_Comedy %></td>
        <td><%= entry.Actress_in_a_Television_Series_Musical_or_Comedy %></td>
        <td><%= entry.Actor_in_a_Television_Series_Musical_or_Comedy %></td>
        <td><%= entry.Tv_Limited_Series_or_Motion_Picture_Made_for_Tv %></td>
        <td><%= entry.Actress_in_a_Series_or_Motion_Picture_Made_for_Tv %></td>
        <td><%= entry.Actor_in_a_Series_or_Motion_Picture_Made_for_Tv %></td>
        <td><%= entry.Actress_Supporting_Role_Tv_SeriesorMadeforTvFilm %></td>
        <td><%= entry.Actor_Supporting_Role_Tv_SeriesorMadeforTvFilm %></td>
        <td><%= link_to 'Show', entry %></td>
        <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
        <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entry', new_entry_path %>
<div class="footer">
  <p>Footer</p>
</div>

</body>
</html> 