<%= form_for(@result) do |f| %>
  <% if @result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% @result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :Name, :size=>"50", :maxlength=>"50" %>
  </div>
  <div class="field">
    <%= f.label :Best_Picture %><br>
      <%= f.radio_button :Best_Picture, 'Black Panther' %> Black Panther<br />
      <%= f.radio_button :Best_Picture, 'BlacKkKlansman' %> BlacKkKlansman<br />
      <%= f.radio_button :Best_Picture, 'Bohemian Rhapsody'%> Bohemian Rhapsody<br />
      <%= f.radio_button :Best_Picture, 'The Favourite' %> The Favourite<br />
      <%= f.radio_button :Best_Picture, 'Green Book' %> Green Book<br />
      <%= f.radio_button :Best_Picture, 'Roma' %> Roma<br />
      <%= f.radio_button :Best_Picture, 'A Star is Born' %> A Star is Born<br />
      <%= f.radio_button :Best_Picture, 'Vice' %> Vice<br />
        </div>
  <div class="field">
    <%= f.label :Actor_Leading %><br>
      <%= f.radio_button :Actor_Leading, 'Christian Bale, Vice' %> Christian Bale, Vice<br />
      <%= f.radio_button :Actor_Leading, 'Bradley Cooper, A Star is Born' %> Bradley Cooper, A Star is Born<br />
      <%= f.radio_button :Actor_Leading, 'Willem Dafoe, At Eternitys Gate' %> Willem Dafoe, At Eternitys Gate<br />
      <%= f.radio_button :Actor_Leading, 'Rami Malek, Bohemian Rhapsody' %> Rami Malek, Bohemian Rhapsody<br />
      <%= f.radio_button :Actor_Leading, 'Viggo Mortensen, Green Book' %> Viggo Mortensen, Green Book<br />
  </div>
  <div class="field">
    <%= f.label :Actress_Leading %><br>
      <%= f.radio_button :Actress_Leading, 'Yalitza Aparicio, Roma' %> Yalitza Aparicio, Roma<br />
      <%= f.radio_button :Actress_Leading, 'Glenn Close, The Wife' %> Glenn Close, The Wife<br />
      <%= f.radio_button :Actress_Leading, 'Olivia Colman, The Favourite' %> Olivia Colman, The Favourite<br />
      <%= f.radio_button :Actress_Leading, 'Lady Gaga, A Star is Born' %> Lady Gaga, A Star is Born<br />
      <%= f.radio_button :Actress_Leading, 'Melissa McCarthy, Can You Ever Forgive Me?' %> Melissa McCarthy, Can You Ever Forgive Me?<br />
  </div>
  <div class="field">
    <%= f.label :Actor_Supporting %><br>
      <%= f.radio_button :Actor_Supporting, 'Mahershala Ali, Green Book' %> Mahershala Ali, Green Book<br />
      <%= f.radio_button :Actor_Supporting, 'Adam Driver, BlacKkKlansman' %> Adam Driver, BlacKkKlansman<br />
      <%= f.radio_button :Actor_Supporting, 'Sam Elliott, A Star is Born' %> Sam Elliott, A Star is Born<br />
      <%= f.radio_button :Actor_Supporting, 'Richard E. Grant, Can You Ever Forgive Me?' %> Richard E. Grant, Can You Ever Forgive Me?<br />
      <%= f.radio_button :Actor_Supporting, 'Sam Rockwell, Vice' %> Sam Rockwell, Vice<br />
  </div>
  <div class="field">
    <%= f.label :Actress_Supporting %><br>
      <%= f.radio_button :Actress_Supporting, 'Amy Adams, Vice' %> Amy Adams, Vice<br />
      <%= f.radio_button :Actress_Supporting, 'Marina De Tavira, Roma' %> Marina De Tavira, Roma<br />
      <%= f.radio_button :Actress_Supporting, 'Regina King, If Beale Street Could Talk' %> Regina King, If Beale Street Could Talk<br />
      <%= f.radio_button :Actress_Supporting, 'Emma Stone, The Favourite' %> Emma Stone, The Favourite<br />
      <%= f.radio_button :Actress_Supporting, 'Rachel Weisz, The Favourite' %> Rachel Weisz, The Favourite<br />
  </div>
  <div class="field">
    <%= f.label :Animated_Film %><br>
      <%= f.radio_button :Animated_Film, 'Incredibles 2' %> Incredibles 2<br />
      <%= f.radio_button :Animated_Film, 'Isle of Dogs' %> Isle of Dogs<br />
      <%= f.radio_button :Animated_Film, 'Mirai' %> Mirai<br />
      <%= f.radio_button :Animated_Film, 'Ralph Breaks The Internet' %> Ralph Breaks The Internet<br />
      <%= f.radio_button :Animated_Film, 'Spider-man: Into the Spiderverse' %> Spider-man: Into the Spiderverse<br />
  </div>
  <div class="field">
    <%= f.label :Cinematography %><br>
      <%= f.radio_button :Cinematography, 'Cold War' %> Cold War<br />
      <%= f.radio_button :Cinematography, 'The Favourite' %> The Favourite<br />
      <%= f.radio_button :Cinematography, 'Never Look Away' %> Never Look Away<br />
      <%= f.radio_button :Cinematography, 'Roma' %> Roma<br />
      <%= f.radio_button :Cinematography, 'A Star is Born' %> A Star is Born<br />
  </div>
  <div class="field">
    <%= f.label :Costume_Design %><br>
      <%= f.radio_button :Costume_Design, 'The Ballad of Buster Scruggs' %> The Ballad of Buster Scruggs<br />
      <%= f.radio_button :Costume_Design, 'Black Panther' %> Black Panther<br />
      <%= f.radio_button :Costume_Design, 'The Favourite' %> The Favourite<br />
      <%= f.radio_button :Costume_Design, 'Mary Poppins Returns' %> Mary Poppins Returns<br />
      <%= f.radio_button :Costume_Design, 'Mary, Queen of Scots' %> Mary, Queen of Scots<br />
  </div>
  <div class="field">
    <%= f.label :Director %><br>
      <%= f.radio_button :Director, 'Spike Lee, BlacKkKlansman' %> Spike Lee, BlacKkKlansman<br />
      <%= f.radio_button :Director, 'Pawel Pawlikowski, Cold War' %> Pawel Pawlikowski, Cold War<br />
      <%= f.radio_button :Director, 'Yorgos Lanthimos, The Favourite' %> Yorgos Lanthimos, The Favourite<br />
      <%= f.radio_button :Director, 'Alfonso Cuaron, Roma' %> Alfonso Cuaron, Roma<br />
      <%= f.radio_button :Director, 'Adam McKay, Vice' %> Adam McKay, Vice<br />
  </div>
  <div class="field">
    <%= f.label :Documentary %><br>
      <%= f.radio_button :Documentary, 'Free Solo' %> Free Solo<br />
      <%= f.radio_button :Documentary, 'Hale County This Morning, This Evening' %> Hale County This Morning, This Evening<br />
      <%= f.radio_button :Documentary, 'Minding the Gap' %> Minding the Gap<br />
      <%= f.radio_button :Documentary, 'Of Fathers and Sons' %> Of Fathers and Sons<br />
      <%= f.radio_button :Documentary, 'RBG' %> RBG<br />
  </div>
  <div class="field">
    <%= f.label :Documentary_Short %><br>
      <%= f.radio_button :Documentary_Short, 'Black Sheep' %> Black Sheep<br />
      <%= f.radio_button :Documentary_Short, 'End Game' %> End Game<br />
      <%= f.radio_button :Documentary_Short, 'Lifeboat' %> Lifeboat<br />
      <%= f.radio_button :Documentary_Short, 'A Night at the Garden' %> A Night at the Garden<br />
      <%= f.radio_button :Documentary_Short, 'Period. End of Sentence' %> Period. End of Sentence<br />
  </div>
  <div class="field">
    <%= f.label :Film_Editing %><br>
      <%= f.radio_button :Film_Editing, 'BlacKkKlansman' %> BlacKkKlansman<br />
      <%= f.radio_button :Film_Editing, 'Bohemian Rhapsody' %> Bohemian Rhapsody<br />
      <%= f.radio_button :Film_Editing, 'The Favourite' %> The Favourite<br />
      <%= f.radio_button :Film_Editing, 'Green Book' %> Green Book<br />
      <%= f.radio_button :Film_Editing, 'Vice' %> Vice<br />
  </div>
  <div class="field">
    <%= f.label :Foreign_Film %><br>
      <%= f.radio_button :Foreign_Film, 'Capernaum' %> Capernaum<br />
      <%= f.radio_button :Foreign_Film, 'Cold War' %> Cold War<br />
      <%= f.radio_button :Foreign_Film, 'Never Look Away' %> Never Look Away<br />
      <%= f.radio_button :Foreign_Film, 'Roma' %> Roma<br />
      <%= f.radio_button :Foreign_Film, 'Shoplifters' %> Shoplifters<br />
  </div>
  <div class="field">
    <%= f.label :Makeup_Hair %><br>
      <%= f.radio_button :Makeup_Hair, 'Border' %> Border<br />
      <%= f.radio_button :Makeup_Hair, 'Mary, Queen of Scots' %> Mary, Queen of Scots<br />
      <%= f.radio_button :Makeup_Hair, 'Vice' %> Vice<br />
  </div>
  <div class="field">
    <%= f.label :Original_Score %><br>
      <%= f.radio_button :Original_Score, 'Ludwig Goransson, Black Panther' %> Ludwig Goransson, Black Panther<br />
      <%= f.radio_button :Original_Score, 'Terence Blanchard, BlacKkKlansman' %> Terence Blanchard, BlacKkKlansman<br />
      <%= f.radio_button :Original_Score, 'Nicholas Britell, If Beale Street Could Talk' %> Nicholas Britell, If Beale Street Could Talk<br />
      <%= f.radio_button :Original_Score, 'Alexandre Desplat, Isle of Dogs' %> Alexandre Desplat, Isle of Dogs<br />
      <%= f.radio_button :Original_Score, 'Marc Shaiman, Mary Poppins Returns' %> Marc Shaiman, Mary Poppins Returns<br />
  </div>
  <div class="field">
    <%= f.label :Original_Song %><br>
      <%= f.radio_button :Original_Song, 'All the Stars, Black Panther' %> All the Stars, Black Panther<br />
      <%= f.radio_button :Original_Song, 'Ill Fight, RBG' %> I'll Fight, RBG<br />
      <%= f.radio_button :Original_Song, 'The Place Where Lost Things Go, Mary Poppins Returns' %> The Place Where Lost Things Go, Mary Poppins Returns<br />
      <%= f.radio_button :Original_Song, 'Shallow, A Star is Born' %> Shallow, A Star is Born<br />
      <%= f.radio_button :Original_Song, 'When a Cowboy Trades His Spurs for Wings, The Ballad of Buster Scruggs' %> When a Cowboy Trades His Spurs for Wings, The Ballad of Buster Scruggs<br />
  </div>
  <div class="field">
    <%= f.label :Production_Design %><br>
      <%= f.radio_button :Production_Design, 'Black Panther' %> Black Panther<br />
      <%= f.radio_button :Production_Design, 'The Favourite' %> The Favourite<br />
      <%= f.radio_button :Production_Design, 'First Man' %> First Man<br />
      <%= f.radio_button :Production_Design, 'Mary Poppins Returns' %> Mary Poppins Returns<br />
      <%= f.radio_button :Production_Design, 'Roma' %> Roma<br />
  </div>
  <div class="field">
    <%= f.label :Animated_Short_Film %><br>
      <%= f.radio_button :Animated_Short_Film, 'Animal Behavior' %> Animal Behavior<br />
      <%= f.radio_button :Animated_Short_Film, 'Bao' %> Bao<br />
      <%= f.radio_button :Animated_Short_Film, 'Late Afternoon' %> Late Afternoon<br />
      <%= f.radio_button :Animated_Short_Film, 'One Small Step' %> One Small Step<br />
      <%= f.radio_button :Animated_Short_Film, 'Weekends' %> Weekends<br />
  </div>
  <div class="field">
    <%= f.label :Short_Film %><br>
      <%= f.radio_button :Short_Film, 'Detainment' %> Detainment<br />
      <%= f.radio_button :Short_Film, 'Fauve' %> Fauve<br />
      <%= f.radio_button :Short_Film, 'Marguerite' %> Marguerite<br />
      <%= f.radio_button :Short_Film, 'Mother' %> Mother<br />
      <%= f.radio_button :Short_Film, 'Skin' %> Skin<br />
  </div>
  <div class="field">
    <%= f.label :Sound_Editing %><br>
      <%= f.radio_button :Sound_Editing, 'Black Panther' %> Black Panther<br />
      <%= f.radio_button :Sound_Editing, 'Bohemian Rhapsody' %> Bohemian Rhapsody<br />
      <%= f.radio_button :Sound_Editing, 'First Man' %> First Man<br />
      <%= f.radio_button :Sound_Editing, 'A Quiet Place' %> A Quiet Place<br />
      <%= f.radio_button :Sound_Editing, 'Roma' %> Roma<br />
  </div>
  <div class="field">
    <%= f.label :Sound_Mixing %><br>
      <%= f.radio_button :Sound_Mixing, 'Black Panther' %> Black Panther<br />
      <%= f.radio_button :Sound_Mixing, 'Bohemian Rhapsody' %> Bohemian Rhapsody<br />
      <%= f.radio_button :Sound_Mixing, 'First Man' %> First Man<br />
      <%= f.radio_button :Sound_Mixing, 'Roma' %> Roma<br />
      <%= f.radio_button :Sound_Mixing, 'A Star is Born' %> A Star is Born<br />
  </div>
  <div class="field">
    <%= f.label :Visual_Effects %><br>
      <%= f.radio_button :Visual_Effects, 'Avengers: Infinity War' %> Avengers: Infinity War<br />
      <%= f.radio_button :Visual_Effects, 'Christopher Robin' %> Christopher Robin<br />
      <%= f.radio_button :Visual_Effects, 'First Man' %> First Man<br />
      <%= f.radio_button :Visual_Effects, 'Ready Player One' %> Ready Player One<br />
      <%= f.radio_button :Visual_Effects, 'Solo: A Star Wars Story' %> Solo: A Star Wars Story<br />
  </div>
  <div class="field">
    <%= f.label :Adapted_Screenplay %><br>
      <%= f.radio_button :Adapted_Screenplay, 'The Ballad of Buster Scruggs' %> The Ballad of Buster Scruggs<br />
      <%= f.radio_button :Adapted_Screenplay, 'BlacKkKlansman' %> BlacKkKlansman<br />
      <%= f.radio_button :Adapted_Screenplay, 'Can You Ever Forgive Me?' %> Can You Ever Forgive Me?<br />
      <%= f.radio_button :Adapted_Screenplay, 'If Beale Street Could Talk' %> If Beale Street Could Talk<br />
      <%= f.radio_button :Adapted_Screenplay, 'A Star is Born' %> A Star is Born<br />
  </div>
  <div class="field">
    <%= f.label :Original_Screenplay %><br>
      <%= f.radio_button :Original_Screenplay, 'The Favourite' %> The Favourite<br />
      <%= f.radio_button :Original_Screenplay, 'First Reformed' %> First Reformed<br />
      <%= f.radio_button :Original_Screenplay, 'Green Book' %> Green Book<br />
      <%= f.radio_button :Original_Screenplay, 'Roma' %> Roma<br />
      <%= f.radio_button :Original_Screenplay, 'Vice' %> Vice<br />
  </div>

  <div class="actions">
    <%= f.submit 'Create Result', :class => "button" %>
  </div>
<% end %>
