<%= form_with(model: result, local: true) do |form| %>
  <% if result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Name %>
    <%= form.text_field :Name %>
  </div>

  <div class="field">
    <%= form.label :Best_Picture %>
    <%= form.text_field :Best_Picture %>
  </div>

  <div class="field">
    <%= form.label :Actor_Leading %>
    <%= form.text_field :Actor_Leading %>
  </div>

  <div class="field">
    <%= form.label :Actress_Leading %>
    <%= form.text_field :Actress_Leading %>
  </div>

  <div class="field">
    <%= form.label :Actor_Supporting %>
    <%= form.text_field :Actor_Supporting %>
  </div>

  <div class="field">
    <%= form.label :Actress_Supporting %>
    <%= form.text_field :Actress_Supporting %>
  </div>

  <div class="field">
    <%= form.label :Animated_Film %>
    <%= form.text_field :Animated_Film %>
  </div>

  <div class="field">
    <%= form.label :Cinematography %>
    <%= form.text_field :Cinematography %>
  </div>

  <div class="field">
    <%= form.label :Costume_Design %>
    <%= form.text_field :Costume_Design %>
  </div>

  <div class="field">
    <%= form.label :Director %>
    <%= form.text_field :Director %>
  </div>

  <div class="field">
    <%= form.label :Documentary %>
    <%= form.text_field :Documentary %>
  </div>

  <div class="field">
    <%= form.label :Documentary_Short %>
    <%= form.text_field :Documentary_Short %>
  </div>

  <div class="field">
    <%= form.label :Film_Editing %>
    <%= form.text_field :Film_Editing %>
  </div>

  <div class="field">
    <%= form.label :Foreign_Film %>
    <%= form.text_field :Foreign_Film %>
  </div>

  <div class="field">
    <%= form.label :Makeup_Hair %>
    <%= form.text_field :Makeup_Hair %>
  </div>

  <div class="field">
    <%= form.label :Original_Score %>
    <%= form.text_field :Original_Score %>
  </div>

  <div class="field">
    <%= form.label :Original_Song %>
    <%= form.text_field :Original_Song %>
  </div>

  <div class="field">
    <%= form.label :Production_Design %>
    <%= form.text_field :Production_Design %>
  </div>

  <div class="field">
    <%= form.label :Animated_Short_Film %>
    <%= form.text_field :Animated_Short_Film %>
  </div>

  <div class="field">
    <%= form.label :Short_Film %>
    <%= form.text_field :Short_Film %>
  </div>

  <div class="field">
    <%= form.label :Sound_Editing %>
    <%= form.text_field :Sound_Editing %>
  </div>

  <div class="field">
    <%= form.label :Sound_Mixing %>
    <%= form.text_field :Sound_Mixing %>
  </div>

  <div class="field">
    <%= form.label :Visual_Effects %>
    <%= form.text_field :Visual_Effects %>
  </div>

  <div class="field">
    <%= form.label :Adapted_Screenplay %>
    <%= form.text_field :Adapted_Screenplay %>
  </div>

  <div class="field">
    <%= form.label :Original_Screenplay %>
    <%= form.text_field :Original_Screenplay %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
