<%= form_with(model: result, local: true) do |form| %>
  <% if result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Name %>
    <%= form.text_field :Name %>
  </div>

  <div class="field">
    <%= form.label :Best_Motion_Picture_Drama %>
    <%= form.text_field :Best_Motion_Picture_Drama %>
  </div>

  <div class="field">
    <%= form.label :Best_Actress_in_a_Motion_Picture_Drama %>
    <%= form.text_field :Best_Actress_in_a_Motion_Picture_Drama %>
  </div>

  <div class="field">
    <%= form.label :Best_Actor_in_a_Motion_Picture_Drama %>
    <%= form.text_field :Best_Actor_in_a_Motion_Picture_Drama %>
  </div>

  <div class="field">
    <%= form.label :Best_Motion_Picture_Musical_or_Comedy %>
    <%= form.text_field :Best_Motion_Picture_Musical_or_Comedy %>
  </div>

  <div class="field">
    <%= form.label :Best_Actress_in_a_Motion_Picture_Musical_or_Comedy %>
    <%= form.text_field :Best_Actress_in_a_Motion_Picture_Musical_or_Comedy %>
  </div>

  <div class="field">
    <%= form.label :Best_Actor_in_a_Motion_Picture_Musical_or_Comedy %>
    <%= form.text_field :Best_Actor_in_a_Motion_Picture_Musical_or_Comedy %>
  </div>

  <div class="field">
    <%= form.label :Best_Actress_in_a_Supporting_Role_in_any_Motion_Picture %>
    <%= form.text_field :Best_Actress_in_a_Supporting_Role_in_any_Motion_Picture %>
  </div>

  <div class="field">
    <%= form.label :Best_Actor_in_a_Supporting_Role_in_any_Motion_Picture %>
    <%= form.text_field :Best_Actor_in_a_Supporting_Role_in_any_Motion_Picture %>
  </div>

  <div class="field">
    <%= form.label :Best_Motion_Picture_Animated %>
    <%= form.text_field :Best_Motion_Picture_Animated %>
  </div>

  <div class="field">
    <%= form.label :Best_Motion_Picture_Foreign_Language %>
    <%= form.text_field :Best_Motion_Picture_Foreign_Language %>
  </div>

  <div class="field">
    <%= form.label :Best_Director_Motion_Picture %>
    <%= form.text_field :Best_Director_Motion_Picture %>
  </div>

  <div class="field">
    <%= form.label :Best_Screenplay_Motion_Picture %>
    <%= form.text_field :Best_Screenplay_Motion_Picture %>
  </div>

  <div class="field">
    <%= form.label :Best_Original_Score_Motion_Picture %>
    <%= form.text_field :Best_Original_Score_Motion_Picture %>
  </div>

  <div class="field">
    <%= form.label :Best_Original_Song_Motion_Picture %>
    <%= form.text_field :Best_Original_Song_Motion_Picture %>
  </div>

  <div class="field">
    <%= form.label :Best_Television_Series_Drama %>
    <%= form.text_field :Best_Television_Series_Drama %>
  </div>

  <div class="field">
    <%= form.label :Best_Performance_by_an_Actress_in_a_Television_Series_Drama %>
    <%= form.text_field :Best_Performance_by_an_Actress_in_a_Television_Series_Drama %>
  </div>

  <div class="field">
    <%= form.label :Best_Performance_by_an_Actor_in_a_Television_Series_Drama %>
    <%= form.text_field :Best_Performance_by_an_Actor_in_a_Television_Series_Drama %>
  </div>

  <div class="field">
    <%= form.label :Best_Television_Series_Musical_or_Comedy %>
    <%= form.text_field :Best_Television_Series_Musical_or_Comedy %>
  </div>

  <div class="field">
    <%= form.label :Actress_in_a_Television_Series_Musical_or_Comedy %>
    <%= form.text_field :Actress_in_a_Television_Series_Musical_or_Comedy %>
  </div>

  <div class="field">
    <%= form.label :Actor_in_a_Television_Series_Musical_or_Comedy %>
    <%= form.text_field :Actor_in_a_Television_Series_Musical_or_Comedy %>
  </div>

  <div class="field">
    <%= form.label :Tv_Limited_Series_or_Motion_Picture_Made_for_Tv %>
    <%= form.text_field :Tv_Limited_Series_or_Motion_Picture_Made_for_Tv %>
  </div>

  <div class="field">
    <%= form.label :Actress_in_a_Series_or_Motion_Picture_Made_for_Tv %>
    <%= form.text_field :Actress_in_a_Series_or_Motion_Picture_Made_for_Tv %>
  </div>

  <div class="field">
    <%= form.label :Actor_in_a_Series_or_Motion_Picture_Made_for_Tv %>
    <%= form.text_field :Actor_in_a_Series_or_Motion_Picture_Made_for_Tv %>
  </div>

  <div class="field">
    <%= form.label :Actress_Supporting_Role_Tv_SeriesorMadeforTvFilm %>
    <%= form.text_field :Actress_Supporting_Role_Tv_SeriesorMadeforTvFilm %>
  </div>

  <div class="field">
    <%= form.label :Actor_Supporting_Role_Tv_SeriesorMadeforTvFilm %>
    <%= form.text_field :Actor_Supporting_Role_Tv_SeriesorMadeforTvFilm %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
