<p id="notice"><%= notice %></p>

<h1>Results</h1>

<div class="results">
<table>
  <thead>
  
    <tr>
      <th>Name</th>
      <th>Score</th>
      <th>Best picture</th>
      <th>Actor leading</th>
      <th>Actress leading</th>
      <th>Actor supporting</th>
      <th>Actress supporting</th>
      <th>Animated film</th>
      <th>Cinematography</th>
      <th>Costume design</th>
      <th>Director</th>
      <th>Documentary</th>
      <th>Documentary short</th>
      <th>Film editing</th>
      <th>Foreign film</th>
      <th>Makeup hair</th>
      <th>Original score</th>
      <th>Original song</th>
      <th>Production design</th>
      <th>Animated short film</th>
      <th>Short film</th>
      <th>Sound editing</th>
      <th>Sound mixing</th>
      <th>Visual effects</th>
      <th>Adapted screenplay</th>
      <th>Original screenplay</th>
      <th colspan="3"></th>
    </tr>
    
  </thead>

  <tbody>
  
    <% @results.each do |result| %>
      <tr>
        <td><%= 'Winner' %></td>
        <td><%= '24' %></td>
        <td><%= result.Best_Picture %></td>
        <td><%= result.Actor_Leading %></td>
        <td><%= result.Actress_Leading %></td>
        <td><%= result.Actor_Supporting %></td>
        <td><%= result.Actress_Supporting %></td>
        <td><%= result.Animated_Film %></td>
        <td><%= result.Cinematography %></td>
        <td><%= result.Costume_Design %></td>
        <td><%= result.Director %></td>
        <td><%= result.Documentary %></td>
        <td><%= result.Documentary_Short %></td>
        <td><%= result.Film_Editing %></td>
        <td><%= result.Foreign_Film %></td>
        <td><%= result.Makeup_Hair %></td>
        <td><%= result.Original_Score %></td>
        <td><%= result.Original_Song %></td>
        <td><%= result.Production_Design %></td>
        <td><%= result.Animated_Short_Film %></td>
        <td><%= result.Short_Film %></td>
        <td><%= result.Sound_Editing %></td>
        <td><%= result.Sound_Mixing %></td>
        <td><%= result.Visual_Effects %></td>
        <td><%= result.Adapted_Screenplay %></td>
        <td><%= result.Original_Screenplay %></td>
        <td><%= link_to 'Show', result %></td>
        <td><%= link_to 'Edit', edit_result_path(result) %></td>
        <td><%= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  </tbody>
</table>
</div>
<br>

<tbody>
<div class="ballots">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Score</th>
      <th>Best picture</th>
      <th>Actor leading</th>
      <th>Actress leading</th>
      <th>Actor supporting</th>
      <th>Actress supporting</th>
      <th>Animated film</th>
      <th>Cinematography</th>
      <th>Costume design</th>
      <th>Director</th>
      <th>Documentary</th>
      <th>Documentary short</th>
      <th>Film editing</th>
      <th>Foreign film</th>
      <th>Makeup hair</th>
      <th>Original score</th>
      <th>Original song</th>
      <th>Production design</th>
      <th>Animated short film</th>
      <th>Short film</th>
      <th>Sound editing</th>
      <th>Sound mixing</th>
      <th>Visual effects</th>
      <th>Adapted screenplay</th>
      <th>Original screenplay</th>
      <th>Date Time Created</th>
      <th>Date Time Modified</th>
       
      <th colspan="3"></th>
    </tr>
  </thead>
  
    <% Ballot.all.each do |ballot| %>
      <%  @score = 0 %>
      <% if ballot[:Best_Picture] == Result.first[:Best_Picture] then @score += 1 %>
      <% end %>
      <% if ballot[:Actor_Leading] == Result.first[:Actor_Leading] then @score += 1 %>
      <% end %>
      <% if ballot[:Actress_Leading] == Result.first[:Actress_Leading] then @score += 1 %>
      <% end %>
      <% if ballot[:Actor_Supporting] == Result.first[:Actor_Supporting] then @score += 1 %>
      <% end %>
      <% if ballot[:Actress_Supporting] == Result.first[:Actress_Supporting] then @score += 1 %>
      <% end %>
      <% if ballot[:Animated_Film] == Result.first[:Animated_Film] then @score += 1 %>
      <% end %>
      <% if ballot[:Cinematography] == Result.first[:Cinematography] then @score += 1 %>
      <% end %>
      <% if ballot[:Costume_Design] == Result.first[:Costume_Design] then @score += 1 %>
      <% end %>
      <% if ballot[:Director] == Result.first[:Director] then @score += 1 %>
      <% end %>
      <% if ballot[:Documentary] == Result.first[:Documentary] then @score += 1 %>
      <% end %>
      <% if ballot[:Documentary_Short] == Result.first[:Documentary_Short] then @score += 1 %>
      <% end %>
      <% if ballot[:Film_Editing] == Result.first[:Film_Editing] then @score += 1 %>
      <% end %>
      <% if ballot[:Foreign_Film] == Result.first[:Foreign_Film] then @score += 1 %>
      <% end %>
      <% if ballot[:Makeup_Hair] == Result.first[:Makeup_Hair] then @score += 1 %>
      <% end %>
      <% if ballot[:Original_Score] == Result.first[:Original_Score] then @score += 1 %>
      <% end %>
      <% if ballot[:Original_Song] == Result.first[:Original_Song] then @score += 1 %>
      <% end %>
      <% if ballot[:Production_Design] == Result.first[:Production_Design] then @score += 1 %>
      <% end %>
      <% if ballot[:Animated_Short_Film] == Result.first[:Animated_Short_Film] then @score += 1 %>
      <% end %>
      <% if ballot[:Short_Film] == Result.first[:Short_Film] then @score += 1 %>
      <% end %>
      <% if ballot[:Sound_Editing] == Result.first[:Sound_Editing] then @score += 1 %>
      <% end %>
      <% if ballot[:Sound_Mixing] == Result.first[:Sound_Mixing] then @score += 1 %>
      <% end %>
      <% if ballot[:Visual_Effects] == Result.first[:Visual_Effects] then @score += 1 %>
      <% end %>
      <% if ballot[:Adapted_Screenplay] == Result.first[:Adapted_Screenplay] then @score += 1 %>
      <% end %>
      <% if ballot[:Original_Screenplay] == Result.first[:Original_Screenplay] then @score += 1 %>
      <% end %>
      <tr>
        <td><%= ballot.Name %></td>
        <td><%= @score %></td>
        <td><%= ballot.Best_Picture %></td>
        <td><%= ballot.Actor_Leading %></td>
        <td><%= ballot.Actress_Leading %></td>
        <td><%= ballot.Actor_Supporting %></td>
        <td><%= ballot.Actress_Supporting %></td>
        <td><%= ballot.Animated_Film %></td>
        <td><%= ballot.Cinematography %></td>
        <td><%= ballot.Costume_Design %></td>
        <td><%= ballot.Director %></td>
        <td><%= ballot.Documentary %></td>
        <td><%= ballot.Documentary_Short %></td>
        <td><%= ballot.Film_Editing %></td>
        <td><%= ballot.Foreign_Film %></td>
        <td><%= ballot.Makeup_Hair %></td>
        <td><%= ballot.Original_Score %></td>
        <td><%= ballot.Original_Song %></td>
        <td><%= ballot.Production_Design %></td>
        <td><%= ballot.Animated_Short_Film %></td>
        <td><%= ballot.Short_Film %></td>
        <td><%= ballot.Sound_Editing %></td>
        <td><%= ballot.Sound_Mixing %></td>
        <td><%= ballot.Visual_Effects %></td>
        <td><%= ballot.Adapted_Screenplay %></td>
        <td><%= ballot.Original_Screenplay %></td>
        <td><%= local_time(ballot.created_at) %></td>
        <td><%= local_time(ballot.updated_at) %></td>
        
      </tr>
      
    <% end %>
  </table>
  </div> 
  
  </tbody>
