<p id="notice"><%= notice %></p>

<p>
  <strong>Best picture:</strong>
  <%= @result.Best_Picture %>
</p>

<p>
  <strong>Actor leading:</strong>
  <%= @result.Actor_Leading %>
</p>

<p>
  <strong>Actress leading:</strong>
  <%= @result.Actress_Leading %>
</p>

<p>
  <strong>Actor supporting:</strong>
  <%= @result.Actor_Supporting %>
</p>

<p>
  <strong>Actress supporting:</strong>
  <%= @result.Actress_Supporting %>
</p>

<p>
  <strong>Animated film:</strong>
  <%= @result.Animated_Film %>
</p>

<p>
  <strong>Cinematography:</strong>
  <%= @result.Cinematography %>
</p>

<p>
  <strong>Costume design:</strong>
  <%= @result.Costume_Design %>
</p>

<p>
  <strong>Director:</strong>
  <%= @result.Director %>
</p>

<p>
  <strong>Documentary:</strong>
  <%= @result.Documentary %>
</p>

<p>
  <strong>Documentary short:</strong>
  <%= @result.Documentary_Short %>
</p>

<p>
  <strong>Film editing:</strong>
  <%= @result.Film_Editing %>
</p>

<p>
  <strong>Foreign film:</strong>
  <%= @result.Foreign_Film %>
</p>

<p>
  <strong>Makeup hair:</strong>
  <%= @result.Makeup_Hair %>
</p>

<p>
  <strong>Original score:</strong>
  <%= @result.Original_Score %>
</p>

<p>
  <strong>Original song:</strong>
  <%= @result.Original_Song %>
</p>

<p>
  <strong>Production design:</strong>
  <%= @result.Production_Design %>
</p>

<p>
  <strong>Animated short film:</strong>
  <%= @result.Animated_Short_Film %>
</p>

<p>
  <strong>Short film:</strong>
  <%= @result.Short_Film %>
</p>

<p>
  <strong>Sound editing:</strong>
  <%= @result.Sound_Editing %>
</p>

<p>
  <strong>Sound mixing:</strong>
  <%= @result.Sound_Mixing %>
</p>

<p>
  <strong>Visual effects:</strong>
  <%= @result.Visual_Effects %>
</p>

<p>
  <strong>Adapted screenplay:</strong>
  <%= @result.Adapted_Screenplay %>
</p>

<p>
  <strong>Original screenplay:</strong>
  <%= @result.Original_Screenplay %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
