<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @result.Name %>
</p>

<p>
  <strong>Best motion picture drama:</strong>
  <%= @result.Best_Motion_Picture_Drama %>
</p>

<p>
  <strong>Best actress in a motion picture drama:</strong>
  <%= @result.Best_Actress_in_a_Motion_Picture_Drama %>
</p>

<p>
  <strong>Best actor in a motion picture drama:</strong>
  <%= @result.Best_Actor_in_a_Motion_Picture_Drama %>
</p>

<p>
  <strong>Best motion picture musical or comedy:</strong>
  <%= @result.Best_Motion_Picture_Musical_or_Comedy %>
</p>

<p>
  <strong>Best actress in a motion picture musical or comedy:</strong>
  <%= @result.Best_Actress_in_a_Motion_Picture_Musical_or_Comedy %>
</p>

<p>
  <strong>Best actor in a motion picture musical or comedy:</strong>
  <%= @result.Best_Actor_in_a_Motion_Picture_Musical_or_Comedy %>
</p>

<p>
  <strong>Best actress in a supporting role in any motion picture:</strong>
  <%= @result.Best_Actress_in_a_Supporting_Role_in_any_Motion_Picture %>
</p>

<p>
  <strong>Best actor in a supporting role in any motion picture:</strong>
  <%= @result.Best_Actor_in_a_Supporting_Role_in_any_Motion_Picture %>
</p>

<p>
  <strong>Best motion picture animated:</strong>
  <%= @result.Best_Motion_Picture_Animated %>
</p>

<p>
  <strong>Best motion picture foreign language:</strong>
  <%= @result.Best_Motion_Picture_Foreign_Language %>
</p>

<p>
  <strong>Best director motion picture:</strong>
  <%= @result.Best_Director_Motion_Picture %>
</p>

<p>
  <strong>Best screenplay motion picture:</strong>
  <%= @result.Best_Screenplay_Motion_Picture %>
</p>

<p>
  <strong>Best original score motion picture:</strong>
  <%= @result.Best_Original_Score_Motion_Picture %>
</p>

<p>
  <strong>Best original song motion picture:</strong>
  <%= @result.Best_Original_Song_Motion_Picture %>
</p>

<p>
  <strong>Best television series drama:</strong>
  <%= @result.Best_Television_Series_Drama %>
</p>

<p>
  <strong>Best performance by an actress in a television series drama:</strong>
  <%= @result.Best_Performance_by_an_Actress_in_a_Television_Series_Drama %>
</p>

<p>
  <strong>Best performance by an actor in a television series drama:</strong>
  <%= @result.Best_Performance_by_an_Actor_in_a_Television_Series_Drama %>
</p>

<p>
  <strong>Best television series musical or comedy:</strong>
  <%= @result.Best_Television_Series_Musical_or_Comedy %>
</p>

<p>
  <strong>Actress in a television series musical or comedy:</strong>
  <%= @result.Actress_in_a_Television_Series_Musical_or_Comedy %>
</p>

<p>
  <strong>Actor in a television series musical or comedy:</strong>
  <%= @result.Actor_in_a_Television_Series_Musical_or_Comedy %>
</p>

<p>
  <strong>Tv limited series or motion picture made for tv:</strong>
  <%= @result.Tv_Limited_Series_or_Motion_Picture_Made_for_Tv %>
</p>

<p>
  <strong>Actress in a series or motion picture made for tv:</strong>
  <%= @result.Actress_in_a_Series_or_Motion_Picture_Made_for_Tv %>
</p>

<p>
  <strong>Actor in a series or motion picture made for tv:</strong>
  <%= @result.Actor_in_a_Series_or_Motion_Picture_Made_for_Tv %>
</p>

<p>
  <strong>Actress supporting role tv seriesormadefortvfilm:</strong>
  <%= @result.Actress_Supporting_Role_Tv_SeriesorMadeforTvFilm %>
</p>

<p>
  <strong>Actor supporting role tv seriesormadefortvfilm:</strong>
  <%= @result.Actor_Supporting_Role_Tv_SeriesorMadeforTvFilm %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
